.about{
    min-height: 100vh;
    padding-inline: 3vw;
}

.about > h1{
    font-size: clamp(3.125rem, -3.125rem + 20vw, 8.125rem);
    line-height: 0.9;
    letter-spacing: -5px;
}

.about > h1:nth-child(1){
    margin-top: 10vh;
}

.about > h2{
    margin: 0 auto;
    text-align: center;
    width: 70%;
    margin-block: 10%;
}

@media(max-width: 768px){
    .about > h2{
        width: 100%;
        text-align: left;
    }
    
}