.loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 100vh;
    width: 100%;
    background: #f5dfff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    transition: opacity 1s;
    transition-delay: 1.5s;
}

.loading-screen--started{
    opacity: 0;
}

.loading-screen > h5{
    color: var(--second-color);
    font-family: 'Kelsi 1', sans-serif;
    font-weight: 600;
    font-size: 50px;
    animation: pulsate 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loading-screen > p{
  color: var(--second-color);
  font-size: 20px;
}

@keyframes pulsate{
    0% {
      transform: scale(0.95)
    }
    5% {
      transform: scale(1.1)
    }
    39% {
      transform: scale(0.85)
    }
    45% {
      transform: scale(1)
    }
    60% {
      transform: scale(0.95)
    }
    100% {
      transform: scale(0.9)
    }
}
  