.list-box{
    justify-content: space-between;
    align-items: center;
}

.list-box > div h3:nth-child(2){
    margin-top: 0.5em;
}

.list-box > div:nth-child(2){
    padding-left: 7%;
}

.list-box > div:nth-child(2) ul li{
    list-style: none;
}

@media(max-width: 768px){
    .list-box{
        flex-direction: column;
    }

    .list-box > div:nth-child(2){
        padding-left: 0;
    }
}