.form-wrapper > .form-container{
    max-width: 320px;
}

.form-wrapper > .form-container > h2{
    margin-bottom: 10px;
}

.form-wrapper > .form-container > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-wrapper > .form-container > form > div{
    display: grid;
}

.form-wrapper > .form-container > form > div > label{
    opacity: 0.5;
    margin-bottom: 0.2em;
}

.form-wrapper > .form-container > form  > div > input{
    font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);
    padding: 0.3em 0.5em;
    color: var(--second-color);
}

.form-wrapper > .form-container > form > button{
    margin-top: 1em;
    margin: 0 auto;
    align-self: flex-start;
}

.form-wrapper > .form-container > p{
    font-weight: 500;
    margin-top: 20px;
}

.form-wrapper > .form-container > p > .underline{
    text-decoration: underline;
    text-transform: uppercase;
}

.demo{
    display: flex;
    gap: 10px;
    font-weight: 600;
    text-decoration: underline;
    margin-block: 10px 20px;
}

::placeholder{
    font-size: 12px;
    opacity: 0.5;
}